* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0px;
}

header {
    background-color: #1F2937;
    display: flex;
    padding: 20px 30px;
}

.logo {
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

header ul {
    display: flex;
    list-style-type: none;
    margin: 0px 0px 0px auto;
    padding: 0px;
    align-items: center;
    gap: 18px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.first-box {
    background-color: #1F2937;
    display: flex;
    padding: 70px 30px;
    align-items: center;
    justify-content: center;
}

.first-box img {
    width: 550px;
    height: auto;
}

.hero-text {
    width: 480px;
    height: auto;
}

h1 {
    margin: 0px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.first-box p {
    font-size: 18px;
    color: #e5e7eb;
}

.first-box button {
    font-size: 18px;
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 10px;
    border: 0px;
    padding: 8px 35px;
}

.second-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 70px 30px;
}

h2 {
    font-size: 36px;
    font-weight: 900px;
    color: #1F2937;
    margin-bottom: 50px;
}

.small-boxes {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.small-box {
    box-sizing: border-box;
    text-align: center;
    width: 200px;
    font-size: 18px;
    color: grey;
}

.small-box img {
    width: auto;
    height: 150px;
}

.third-box {
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    padding: 70px 100px 30px 100px;
}

.third-box .author {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
}